<div class="dossier">
    <div class="dossier-content">        
        <div class="dossier-section">
            <div class="dossier-section-header">Катастрофа</div>
            <div class="feature-section">
                <span class="feature-header">Описание:</span>
                <span class="feature">{{ refuge.description }}</span>
            </div>
            <div class="feature-section">
                <span class="feature-header">Оставшееся население:</span>
                <span class="feature">{{ refuge.survivorsNumber }}%</span>
            </div>
        </div>
        <div class="dossier-section mt-3">
            <div class="dossier-section-header">Бункер</div>
            <div class="feature-section">
                <span class="feature-header">Площадь бункера:</span>
                <span class="feature">{{ refuge.area }}</span>
            </div>
            <div class="feature-section">
                <span class="feature-header">Расчитан на:</span>
                <span class="feature">{{ refuge.duration }} мес.</span>
            </div>
            <div class="feature-section">
                <span class="feature-header">В бункере имеется:</span>
            </div>
            <div v-for="thing in refuge.things" class="feature-section">
                <span class="feature-header header-small"></span>
                <span class="feature">{{ thing }}</span>
            </div>
        </div>
    </div>
    <div class="bunker-image"></div>
    <div class="tag" @click="selectDossier">
        <i class="material-icons">sensor_door</i>
        <div class="tag-angle"></div>
    </div>
</div>
