@import "~assets/dossier.scss";

.dossier {
    .bunker-image {
        position: absolute;
        bottom: 0;
        left: 20%;
        right: 20%;
        height: 60%;
        max-height: 500px;
        mask: url(~assets/bunker.svg) no-repeat center;
        background-color: seagreen;
        opacity: 0.4;
    }

    $tag_color: darkseagreen;
    .tag {
        position: absolute;
        top: 0;
        right: 5px;
        height: 60px;
        width: 40px;
        padding: 0 5px 10px 5px;
        transform: translate(0, -100%);
        background: $tag_color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $tag_color;
        border-radius: 3px;
        font-size: 0.7rem;
        box-shadow: 0 0 1px #777;
        user-select: none;
        cursor: pointer;

        .tag-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 5px;
            background-color: rgba(0, 0, 0, .15);
        }

        .tag-angle {
            content: "";
            position: absolute;
            top: -32px;
            left: 0;
            display: block;
            border: 20px solid transparent;
            border-bottom: 12px solid $tag_color;
        }
    }
}
