@import "~assets/dossier.scss";

.dossier {
    &.dossier-self {
        top: 6px;
        left: 4px;
    }
    
    .dossier-photo {
        position: absolute;
        top: -0.5rem;
        right: 1.5rem;
        display: inline-block;
        background-color: darkgrey;
        border: 3px #bba77b outset;
        transform: rotate(5deg);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;

        .person_search {
            font-size: 9rem;

            @media (min-width: 768px) {
                font-size: 13rem;
            }

            @media (min-width: 992px) {
                font-size: 15rem;
            }
        }

        .attachment {
            position: absolute;
            top: -1rem;
            right: 0.2rem;
            font-size: 4rem;
            transform: rotate(100deg);
            color: #a63221;
        }

        @media (min-width: 768px) {
            right: 2.5rem;
        }

        @media (min-width: 992px) {
            right: 3.5rem;
        }
    }

    .seal {
        position: absolute;
        bottom: 10px;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100px;
        transform: translate(-50%, 0);
        color: #272765;
        opacity: 0.8;
        padding: 0.4rem;
        border: 13px #272765 solid;
        border-radius: 50%;

        i {
            font-size: 4rem;
        }
    }
    
    .secret-seal {
        position: absolute;
        left: 10%;
        bottom: 15%; 
        transform: rotate(-20deg);
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        color: #c54747;
        border: 6px #c54747 dashed;
        border-radius: 0.7rem;
        font-weight: 900;
        font-size: 1.5rem;
        opacity: 0.4;
    }

    $tag_color: darksalmon;
    .tag {
        position: absolute;
        top: 0;
        right: 2px;
        height: 40px;
        width: 60px;
        padding: 5px 0 5px 10px;
        transform: translate(100%, 0);
        background: $tag_color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $tag_color;
        border-radius: 3px;
        font-size: 0.7rem;
        box-shadow: 0 0 1px #777;
        user-select: none;
        cursor: pointer;

        .tag-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 5px;
            height: 100%;
            background-color: rgba(0, 0, 0, .15);
        }

        .tag-angle {
            content: "";
            position: absolute;
            top: 0;
            right: -32px;
            display: block;
            border: 20px solid transparent;
            border-left: 12px solid $tag_color;
        }
    }
}
