<div :class="['dossier', { 'dossier-self': isSelf }]">
    <div class="dossier-content">      
        <div class="dossier-section">
            <div class="dossier-section-header">Данные</div>
            <div class="row">
                <div class="col-10">
                    <div class="feature-header">Биологические черты:</div>
                    <div class="feature-section inner-section">
                        <span class="feature-header">Пол:</span>
                        <dossier-feature :isSelf="isSelf"
                            :opened="personage.biologicalTraits.opened"
                            :description="personage.biologicalTraits.gender" />
                    </div>
                    <div class="feature-section inner-section">
                        <span class="feature-header">Возраст:</span>
                        <dossier-feature :isSelf="isSelf"
                            :opened="personage.biologicalTraits.opened"
                            :description="personage.biologicalTraits.age" />
                    </div>
                    <div class="feature-section inner-section">
                        <span class="feature-header">Ориентация:</span>
                        <dossier-feature :isSelf="isSelf"
                            :opened="personage.biologicalTraits.opened"
                            :description="personage.biologicalTraits.sexualOrientation" />
                    </div>
                    <div class="feature-section inner-section">
                        <span class="feature-header"></span>
                        <dossier-feature :isSelf="isSelf"
                            :opened="personage.biologicalTraits.opened"
                            :description="childfreeText" />
                    </div>
                    <span class="feature-header">Физические данные:</span>
                    <div class="feature-section inner-section">
                        <span class="feature-header">Рост:</span>
                        <dossier-feature :isSelf="isSelf"
                            :opened="personage.physique.opened"
                            :description="personage.physique.growth" />
                    </div>
                    <div class="feature-section inner-section">
                        <span class="feature-header">Вес:</span>
                        <dossier-feature :isSelf="isSelf"
                            :opened="personage.physique.opened"
                            :description="personage.physique.weight" />
                    </div>
                    <div class="feature-section inner-section">
                        <span class="feature-header">Индекс тела:</span>
                        <dossier-feature :isSelf="isSelf"
                            :opened="personage.physique.opened"
                            :description="`${personage.physique.BMI} (${personage.physique.description})`" />
                    </div>
                </div>
            </div>
            <div class="feature-section">
                <span class="feature-header">Профессия:</span>
                <dossier-feature :isSelf="isSelf"
                    :opened="personage.profession.opened"
                    :description="personage.profession.description" />
            </div>
            <div class="feature-section">
                <span class="feature-header">Здоровье:</span>
                <dossier-feature :isSelf="isSelf"
                    :opened="personage.healthStatus.opened"
                    :description="healthStatusText" />
            </div>
            <div class="feature-section">
                <span class="feature-header">Фобия:</span>
                <dossier-feature :isSelf="isSelf"
                    :opened="personage.phobia.opened"
                    :description="personage.phobia.description" />
            </div>
            <div class="feature-section">
                <span class="feature-header">Хобби:</span>
                <dossier-feature :isSelf="isSelf"
                    :opened="personage.hobby.opened"
                    :description="personage.hobby.description" />
            </div>
            <div class="feature-section">
                <span class="feature-header">Багаж:</span>
                <dossier-feature :isSelf="isSelf"
                    :opened="personage.baggage.opened"
                    :description="personage.baggage.description" />
            </div>
            <div class="feature-section">
                <span class="feature-header">Дополнительная информация:</span>
                <dossier-feature :isSelf="isSelf"
                    :opened="personage.additionalInformation.opened"
                    :description="personage.additionalInformation.description" />
            </div>
            <div class="feature-section">
                <span class="feature-header">Характер:</span>
                <dossier-feature :isSelf="isSelf"
                    :opened="personage.character.opened"
                    :description="personage.character.description" />
            </div>
        </div>
        <div class="dossier-section mt-3">
            <div class="dossier-section-header">Карточки действий</div>
            <div class="feature-section">
                <span class="feature-header header-small">№1:</span>
                <dossier-feature :isSelf="isSelf"
                    :opened="personage.firstActionCard.opened"
                    :description="personage.firstActionCard.description" />
            </div>
            <div class="feature-section">
                <span class="feature-header header-small">№2:</span>
                <dossier-feature :isSelf="isSelf"
                    :opened="personage.secondActionCard.opened"
                    :description="personage.secondActionCard.description" />
            </div>
        </div>
    </div>
    <div class="secret-seal">Секретно</div>
    <div class="seal">
        <i class="material-icons">local_police</i>
    </div>
    <div :style="colorStyle" class="dossier-photo">
        <i class="material-icons attachment">attachment</i>
        <i class="material-icons person_search">person_search</i>
    </div>
    <div :style="tagStyles" class="tag" @click="selectDossier">
        <i v-if="isSelf" class="material-icons">accessibility</i>
        <div v-else class="tag-text">{{ user.username }}</div>
        <div :style="tagAngleStyles" class="tag-angle"></div>
    </div>
</div>
