<div class="login">
    <!--
        ToDO добавить слайдер с описанием
        <div></div>
    -->
    <div class="form">
        <div :class="['username-input', { 'validation-error' : !isUsernameValid || usernameErrorMessage }]">
            <i class="material-icons">face</i>
            <input v-model="username" placeholder="Никнейм*" autofocus>
            <i v-show="!isUsernameValid || usernameErrorMessage"
                class="material-icons error"
                :title="usernameErrorMessage || 'Никнейм должен содержать от 3 до 15 символов.'">error</i>
        </div>
        <div :class="['room-input', { 'validation-error' : roomErrorMessage }]">
            <i class="material-icons">meeting_room</i>
            <input v-model="room" placeholder="Ключ к комнате">
            <i v-show="roomErrorMessage"
                :title="roomErrorMessage"
                class="material-icons error">error</i>
        </div>
        <div :class="['password-input', { 'validation-error' : passwordErrorMessage }]">
            <i class="material-icons">lock_open</i>
            <input v-model="password"
                placeholder="Пароль к комнате"
                type="password">
            <i v-show="passwordErrorMessage"
                :title="passwordErrorMessage"
                class="material-icons error">error</i>
        </div>
        <div class="form-submit">
            <button class="btn" :disabled="isDisabledLoginButton" @click="login">Войти</button>
        </div>
    </div>
</div>
