$text-color: #29b6f6;
$error-text-color: #ff5f5f;

.login {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
    color: $text-color;
    
    .form {
        background-color: #00000088;
        width: 250px;
        padding: 1rem;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

        .username-input, .room-input, .password-input {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0.5rem 0;

            i {
                position: absolute;
                left: 5px;
        
                &.error {
                    left: auto;
                    right: 5px;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }

        .validation-error {
            color: $error-text-color;
        }

        input {
            width: 100%;
            padding: 0.3rem 1.2rem 0.3rem 2.15rem;
            border: none;
            color: inherit;
            background-color: #ffffff08;

            &::placeholder {
                opacity: 0.2;
            }

            &:focus {
                outline: none;
                border: none;
            }
        }

        .form-submit {
            padding-top: 1rem;

            button {
                width: 100%;
                border-radius: 4px;
                background-color: $text-color;
                font-weight: 700;

                &:disabled {
                    cursor: default;
                }
            }
        }
    }
}

::-webkit-input-placeholder {
    color: inherit;
}

:-ms-input-placeholder {
    color: inherit;
}

::placeholder {
    color: inherit;
}