@import "~assets/dossier.scss";

.playroom {
    padding-bottom: 3rem;
}

.dossier-folder {
    padding: 1rem 3rem 1.4rem 0.5rem;
    background: linear-gradient(135deg, #dba75c 0%, #ccb47d 100%);
    border: 5px #deaf7b outset;
    transform: rotate(-2deg);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    .dossier-list {
        position: relative;
        min-height: 700px;
    }

    .active-dossier {
        z-index: 1;
    }

    .dossier-empty {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -5px;
        left: 0;
        z-index: -1;
        transform: rotate(-1deg);
        background-color: #d2c17e;

        .dossier-empty {
            transform: rotate(4deg);
            left: 5px;
            background-color: #d4c073;
        }
    }
}
