<div class="playroom">
    <div v-if="isGameStarted" class="dossier-folder">
        <div class="dossier-list">
            <personage-dossier :user="user"
                :dossierIndex="0"
                :key="user.id"
                :class="{ 'active-dossier': user.id === selectedUser }"
                @selectDossier="selectDossier" />
            <personage-dossier v-for="(player, index) in otherPlayers"
                :user="player"
                :dossierIndex="index + 1"
                :key="player.id"
                :class="{ 'active-dossier': player.id === selectedUser }"
                @selectDossier="selectDossier" />
            <refuge-dossier
                :refuge="refuge"
                :class="{ 'active-dossier': !selectedUser }"
                @selectDossier="selectDossier" />
            <div class="dossier dossier-empty">
                <div class="dossier dossier-empty"></div>
            </div>
        </div>
    </div>
    <display v-else :playerCount="playerCount" />
</div>
