<div class="display-body">
    <div class="display-screw screw-1"></div>
    <div class="display-screw screw-2"></div>
    <div class="display-screw screw-3"></div>
    <div class="display-screw screw-4"></div>
    <div class="display-screw screw-5"></div>
    <div class="display-screw screw-6"></div>
    <div class="display-inner-case">
        <div class="display-header">
            <div class="switch">
                <input v-model="isReady" :disabled="isFewPeople" type="checkbox" id="switch">
                <label for="switch"><i></i></label>
            </div>
            <span>BUNKER</span>
            </div>
        <div class="display">
            &gt;
            <template v-if="isFewPeople">Около бункера пока собралось недостаточно людей для начала заселения.</template>
            <template v-else>
                <template v-if="isFullRoom">Около бункера максимально возможное число людей.<br>Пора начинать, сообщите нам о вашей готовности (нажав на кнопку выше).</template>
                <template v-else>Теперь людей достаточно для начала заселения.<br>Можете подождать еще людей, или же можете сообщить нам о вашей готовности (нажав на кнопку выше).</template>
                <br>Начнем как только все подтвердят свою готовность.
            </template>
            <br>
            &gt;
            <span class="display-cursor"> _</span>
        </div>
    </div>
    <div class="display-hatching"></div>
    <button class="display-label" @click="copyKey">{{ label }}</button>
</div>
