.display-body {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    padding: 2rem;
    padding-bottom: 1rem;
    border: 4px solid #7f574b;
    border-radius: 5px;
    background-color: #064834;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.35), 0 10px 10px rgba(0, 0, 0, 0.32);

    @media (min-width: 768px) {
        width: 80%;
    }

    .display-inner-case {
        width: 100%;
        height: 300px;
        background-color: #074632;
        border-radius: 4px;
        border: 2px groove #147958;
        box-shadow: 4px 6px 40px rgba(0, 0, 0, .3) inset; 
    
        .display {
            width: 90%;
            height: 80%;
            margin-left: 5%;
            background-color: rgb(0, 123, 11);
            border: 2px outset rgb(1, 85, 36);
            color: white;
            padding: 0.5rem 0.6rem;
            font-family: Lucida Console;
            font-size: 0.9rem;

            .display-cursor {
                animation: disappearance 1s infinite linear;
            }
        }
    
        .display-header {
            display: flex;
            justify-content: space-between;
            color: #88a299;
            font-family: sans-serif;
            font-weight: 900;
            margin-right: 5%;
            text-align: right;
            margin: 0.5rem 5% 0.5rem;
        }
    }
    
    .display-screw {
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #39615c;
        border: 4px ridge #335d4f;
        
        &.screw-1 {
            left: 10px;
            top: 100px;
        }
        
        &.screw-2 {
            left: 10px;
            top: 200px;
        }
        
        &.screw-3 {
            left: 10px;
            top: 300px;
        }
        
        &.screw-4 {
            right: 10px;
            top: 100px;
        }
        
        &.screw-5 {
            right: 10px;
            top: 200px;
        }
        
        &.screw-6 {
            right: 10px;
            top: 300px;
        }
    }

    .display-label {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        background-color: #324c4c;
        border: 5px ridge #59796f;
        padding: 0.2rem;
        border-style: outset;
        font-weight: 700;
        color: lightgrey;
        font-size: 0.8rem;
        cursor: copy;

        &:focus {
            outline: none;

            &:before {
                content: 'Скопировано в буфер';
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: #1a3a1f;
                color: #ddd;
            }
        }
    }

    @keyframes disappearance {
        50% { 
            opacity: 1;
         }
        51% { 
            opacity: 0;
         }
    }

    .display-hatching {
        background: linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, #06402e 49.9%, #06402e 60%, rgba(0, 0, 0, 0) 60% ), linear-gradient(45deg, #06402e 10%, rgba(0, 0, 0, 0) 10% );
        background-size: 0.5em 0.5em;
        width: 100%;
        margin-top: 0.3rem;
        height: 3rem;
    }

    .switch {
        position: relative;
        width: 180px;
        height: 20px;
        font-size: 1rem;

        input {
            display: none;

            &:checked ~ label {
                background: #b5c5a9;;
                
                i {
                    left: auto;
                    right: -1%;

                    &:before {
                        content: "Готов";
                        right: 115%;
                        color: #596b4b;
                        text-shadow: 0 1px 0 #b7d6a0, 0 -1px 0 #838e7b;
                    }
                }
            }

            &:disabled ~ label {
                opacity: 0.5;
            }
        }

        label {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            background: #949082;
            border-radius: 40px;
            box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, 0.2), 0 1px 0 #666;
            cursor: pointer;
            
            i {
                display: block;
                height: 100%;
                width: 60%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                border-radius: inherit;
                background: linear-gradient(#694a40, #7f574b);
                box-shadow: inset 0 1px 0 #827676, 0 0 8px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.2);

                &:after {
                    content: "";
                    position: absolute;
                    left: 15%;
                    top: 25%;
                    width: 70%;
                    height: 50%;
                    background: linear-gradient(#825a4f, #58423b);
                    border-radius: inherit;
                }

                &:before {
                    content: "Не готов";
                    position: absolute;
                    top: 50%;
                    right: -55%;
                    transform: translate(0, -50%);
                    color: #444;
                    font-style: normal;
                    font-weight: bold;
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: 10px;
                    text-transform: uppercase;
                    text-shadow: 0 1px 0 #aba8a1, 0 -1px 0 #676663;
                }
            }
        }
    }
}
