.hidden-feature {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 10%;
        left: 0;
        width: 70%;
        height: 80%;
        background-color: #195575;
        border: 3px dashed #164965;
        border-radius: 15%;
        background: linear-gradient(to top, #195575 20%, #243b7b 50%, #023e5f 80%);
        box-shadow: 0 1px 5px #0a3c64, 0 1px 2px #185374;
    }
}
