<div class="top-panel row">
    <div class="user-panel">
        <user-inf :user="user" class="col-auto" />
    </div>
    <div v-for="player in otherPlayers" class="user-panel col-auto">
        <user-inf :user="player" class="col-auto" />
    </div>
</div>
