<div class="dark-theme">
    <span class="bunker-background"></span>
    <div v-show="user.id" class="content container">
        <div v-show="user">
            <top-panel />
            <nuxt />
        </div>
    </div>
</div>
