.bunker-background {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    mask: url(~assets/bunker.svg) no-repeat center;
    background: #374646;
}

.dark-theme {
    min-height: 100vh;
    width: 100%;
    background-color: darkslategrey;
}

.content {
    position: relative;
}
